@font-face {
	font-family:"Josefin Sans";
	src: url(JosefinSans-Regular.ttf);
}

html  {
	background: url("bg.jpg") no-repeat; 
	background-size: cover;
	background-color: black;
}

body {
	height: 1100px;
	width: 1020px;
	background-color: #fff;
	margin: auto;
	
}

header {
	background-color:black ;
	height:300px;
	width:1020px;
	margin: auto;
}

#navigation  {
	padding: 0px; 
	margin: 0px;
	text-align: center; /* centrer le texte */
	width: 1020px;
	height: 60px;
	background: black;
}

a:hover { /*Menu qui change de couleur*/
	color:#cfa205;
}

 ul  { /*menu*/
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

 li { /*menu*/
	display: inline;
	list-style: none;
	margin: 10px;
	padding: 0px;
	width: 100px;
	height: 40px;
	text-align:center;
	line-height: 40px;
}
 a { /* lien ds le menu*/
	display:inline-block;
	margin: 0px;
	text-decoration: none;
	color: white;
}

h1 { /*titre create pro*/
	background-color: black;
	color:#cfa205;
	font-size:133px;
	padding: 00px;
	border: 0px;
	margin: 0px;
    font-family: "Josefin Sans", Arial;
	width:1020px;
}

h2 { /*sous titre */
	background-color:black;
	color:#cfa205;
	font-size:18px;
	padding: 30px;
	border: 0px;
	margin: 0px;
	font-family: Bitter, Arial;
	width:960px;
}

.social { /*block reseaux sociaux*/
	width:1020px;
	height: 60px;
	background:#e8e8e8;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.social img { /*icone reseaux sociaux*/
	display: inline-block;
    margin-top: 17px;
	margin-left: 5px;
	list-style: none;
}

main { /*bloc avant reseaux sociaux*/
	height: 630 px;
	width: 1020px;	
}

p  { /*Texte en haut et en dessous des image*/   
	color:#7a7a7a;
	font-family: Bitter, Arial;
}

hr { /* Barre qui separe le texte des image*/ 
	width: 86%;
	border: 1px #e8e8e8 inset;
	color: white;
}

.main1 { /* Gere le texte au milieux*/
	text-align: center;
	font-size: 20px;
	height:90px;
	width: 900px;
	margin-top: 100px;
	margin-left: 60px;
	font-weight: bold;
}

div{ /* les bloc image texte*/
	display: inline-block;
	margin-top: 45px;
}

h3  {/*Titre des collone*/
	font-size: 18px;
}

div > p  {/*Texte en dessous image*/
	font-size: 14px;
}

.i1 { /*Premiere image*/
	height: 195px;
	width: 260px;
	margin-left: 6px;
	
}

.collone1 { /* premier bloc de texte*/
	height: 480px;
	width: 260px;
	margin-left: 60px;
	float: left;
}

.i2 { /*deuxieme image*/
	height:195px;
	width: 260px;
	margin-left: 6px;
}

.collone2 { /*deuxieme bloc de texte*/
	height: 480px;
	width: 260px;
	margin-left: 60px;
}

.i3 { /* troisieme image*/
	height: 195px;
	width: 260px;
	margin-left: 6px;
}

.collone3 { /*troisieme bloc de texte*/
	height: 480px;
	width: 260px;
	margin-left: 60px;
}
