.container {
    width: 400px;
    margin: 0 auto;
}
h1 {
    color: red;
    text-transform: uppercase;
}
#controls {
    text-align: center;
}
.time {
    font-weight: bold;
    font-size: 3em;
    color: black !important;
}

h2 {
	color: black!important;
}

body {
	background-image: url("../Images/pomodoro.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #DFDFDF;
}

.doro {
    display: none;
}

#pomo {
    margin-left: 38%;
    margin-top: 15%;
    height: 100px;
}